<header>
    <div class="container">
        <div class="site-branding">
            <h1 class="site-title">
                <a href="#">Jerem Dev</a>
            </h1>
            <p class="site-description">Café et code, pas toujours dans cet ordre</p>
        </div>
    </div>
</header>