{{% summary %}}
<div class="blog-post-summary">
    <p class="summary-title">Sommaire</p>
    <ul class="summary-container">
        <li>
            <a href="#link1">Premier chapitre</a>
        </li>
        <li>
            <a href="#">Les bases de HTML</a>
        </li>
        <li>
            <a href="#">Encore un chapitre</a>
        </li>
    </ul>
</div>
{{% /summary %}}