--- 
permalink: 404.html 
---
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Cette page n'existe plus...</h2>
        <p>Désolé, la page que vous recherche n'existe pas ou a été supprimée.</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>
</div>