--- 
layout: layout.njk 
---
<div class="container">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">Jérémy
                <span class="text-primary">LORTHIOIR</span></h1>
            <div class="subheading mb-5">47 rue claude genin, apt A23 · Grenoble, 38100 · (+33) 6 70 12 50 43 ·
                <a href="mailto:jeremy.lorthioir24@gmail.com">jeremy.lorthioir24@gmail.com</a>
            </div>
            <p class="lead mb-5">Je suis une personne sérieuse et optimiste. Je suis passionné de développement Web, mais également d’informatique en général. Mes études et mon expérience professionnelle m’ont permis d’acquérir un esprit d’initiative tout en gardant un excellant esprit d’équipe.</p>
            <div class="social-icons" style="display: flex; align-items: center;">
                <a class="social-icon" href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-lorthioir/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="social-icon" href="https://github.com/JeremyLorthioir" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="/assets/files/Jeremy_LORTHIOIR_CV.pdf" target="_blank">
                    <button type="button" class="btn btn-lg">Download CV</button>
                </a>
            </div>
        </div>

    </section>
    <hr class="m-0"/>
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Expériences</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Fullstack Web Developer</h3>
                    <div class="subheading mb-3">Smart/Origin - GRENOBLE</div>
                    <p>Contexte : Développement d'applications cartographiques pour des collectivités territoriales.
                    </p>
                    <p>Technologies utiliséees :</p>
                    <ul style="margin-top: -1rem;">
                        <li>HTML, CSS, JAVASCRIPT</li>
                        <li>ReactJS, jQuery, WebAppBuilder</li>
                        <li>MySQL, Postgres, Postgis</li>
                        <li>Typo3</li>
                    </ul>
                    <a href="https://cartoradio.mc/" target="_blank">
                        <button type="button" class="btn btn-primary">Projet cartoradio</button>
                    </a>
                    <a href="https://debatnormandie.fr/" target="_blank">
                        <button type="button" class="btn btn-primary">Projet éolmer</button>
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">Novembre 2019 - Octobre 2020 (12 mois)</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Freelance Web Developer</h3>
                    <div class="subheading mb-3">Pixium Digital - SINGAPOUR</div>
                    <p>Contexte : Développement d'applications de coaching pour le compte d'entreprises de l'Asie du sud-est.</p>
                    <p>Technologies utiliséees :</p>
                    <ul style="margin-top: -1rem;">
                        <li>HTML, CSS, JAVASCRIPT</li>
                        <li>Yii2</li>
                        <li>MySQL</li>
                        <li>Wordpress</li>
                    </ul>
                    <a href="https://www.sportsntrain.com/" target="_blank">
                        <button type="button" class="btn btn-primary">Projet SportsNtrain</button>
                    </a>
                    <a href="https://www.gomastercoach.com/" target="_blank">
                        <button type="button" class="btn btn-primary">Projet GoMasterCoach</button>
                    </a>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">Avril 2019 - Novembre 2019 (8 mois)</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0"/>
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Cursus et projets</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Université de Limoges</h3>
                    <div class="subheading mb-3">Diplôme Universitaire de Technologie - Informatique</div>
                    <p>Durant cette formation de deux ans, j'ai pu acquérir les principales bases du développement informatique comme l'algorithmie, le réseau ou encore la programmation orientée objet.<br/>
                        J'ai également pu travailler en suivant les bonnes méthodes du développement dit Agile.
                    </p>
                </div>
                <div class="flex-shrink-0">
                    <span class="text-primary">Septembre 2017 - Juin 2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0"/>
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Compétences</h2>
            <div class="subheading mb-3">Outils et languages de programmation</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-bootstrap"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-react"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-sass"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-github"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-trello"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-aws"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-google"></i>
                </li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>Mobile-First, Responsive Design
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>Cross Browser Testing & Debugging
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>Cross Functional Teams
                </li>
                <li>
                    <span class="fa-li">
                        <i class="fas fa-check"></i>
                    </span>Agile Development & Scrum
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0"/>
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Intérets</h2>
            <p>Je passe la majeure partie de mon temps libre à l'extérieur. L'hiver, je me transforme en skieur aguerri ne ratant aucune occasion de descendre les pistes. Lorsque le temps se réchauffe, j'aime me balader dans la ville avec mon skateboard.</p>
            <p class="mb-0">Quand le temps me force à rester à l'intérieur, je rattrape mon retard sur les séries, je me transforme en commis de cuisine, mais j'utilise la plus grande partie de mon temps libre pour explorer les technologies et avancées dans le monde du développement front-end.</p>
        </div>
    </section>
    <hr class="m-0"/>
</div>
</div>